* {
	margin: 0;
	padding: 0;
	transition: all .2s ease-in;
}

html { height: 100%; }

body {
	font-family: “Tebuchet MC”, Tebuchet, Arial, sans-serif;
	outline: 20px solid #fff;
	background-color: #3B3F45;
	min-height: 100%;
}

header,
footer {
	color: #EB7E7F;
	background-color: #4A4F56;
	text-align: center;
	padding: 50px 0 20px;
	font-size: 21px;
}

header {
	margin-bottom: 30px;
}

footer {
	padding: 15px 0;
}

.shopping-list,
footer {
	margin: 0 auto;
	width: 50%;
}

.shopping-list {
	margin-bottom: 30px;
	list-style-type: none;
}

.shopping-list li {
	background-color: #88839E;
}

.shopping-list li:nth-child(even) {
	background-color: #7A7593;
}

.shopping-list label {
	display: block;
	padding: 10px;
	cursor: pointer;
	color: #FFF;
	font-size: 20px;
}

.shopping-list label:hover {
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #625E77;
}

.shopping-list label:active{
	background-color: #EB7E7F;
}

.shopping-list input[type="checkbox"] {
	height: 20px;
	width: 20px;
	position: relative;
	top: 3px;
	cursor: pointer;
	margin: 0 15px 0 10px;
	/*-webkit-transform: scale(2);*/
}

.shopping-list input[type="checkbox"]:checked ~ span {
	color: #A49EB2;
	text-decoration: line-through;
}

.item {
	vertical-align: middle;
}

.note {
	font-size: 14px;
	color: #C5BDC3;
	/*vertical-align: middle;*/
}

.note:before {
	content: " ( ";
}

.note:after {
	content: " )";
}

.note:empty:before,
.note:empty:after {
	content: "";
}

/* Body border */

.top,
.right,
.bottom,
.left {
	background-color: #FFF;
	position: fixed;
}

.top,
.bottom {
	height: 20px;
	left: 0;
	right: 0;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.right,
.left {
	width: 20px;
	top: 0;
	bottom: 0;
}

.right {
	right: 0;
}

.left {
	left: 0;
}
